<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    
    <appSettings>
        <clear />
        
        <add key="SourcePath"    value ="C:\ControlSUR\" />
        <add key="ProcessedPath" value ="C:\ControlSUR\Processed\" />
        <add key="ErrorPath"     value ="C:\ControlSUR\Error\" />
    </appSettings>
</configuration>