<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="entityFramework"
                 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                 requirePermission="false" />
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <sectionGroup name="applicationSettings"
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FE2PDF.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     requirePermission="false" />
        </sectionGroup>
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
        <clear />
        <add key="SourcePath" value="F:\AUXSIS\FACTURA\PDF\" />
        <add key="ProcessedPath" value="F:\AUXSIS\FACTURA\PDF\" />
        <add key="ErrorPath" value="F:\AUXSIS\FACTURA\PDF\Error\" />
        <add key="BatchSize" value="1" />
        <add key="SaveHtml" value="true" />

        <add key="WsaaUrl" value="https://wsaahomo.afip.gov.ar/ws/services/LoginCms" />
        <add key="WsfeUrl" value="https://wswhomo.afip.gov.ar/wsfev1/service.asmx" />
        <add key="PfxPath" value="C:\Projects\Repositories\RDM\FE2PDF\Docs\AFIP - CAE\kwyjibo.pfx" />
        <add key="PfxPass" value="kwyjibo" />
        <add key="PtoVta" value="1" />
        <add key="CUIT" value="20326760677" />

        <add key="mail_smtp_server" value="mail.obrasocialmita.com.ar" />
        <add key="mail_smtp_server_user" value="cobranzas@obrasocialmita.com.ar" />
        <add key="mail_smtp_server_pass" value="5lQyPyHETw0d3Gz" />
        <add key="mail_smtp_server_port" value="587" />
        <add key="mail_smtp_server_ssl" value="false" />
        <add key="mail_from_address" value="cobranzas@obrasocialmita.com.ar" />
        <add key="mail_cc_address" value="" />
        <add key="mail_cco_address" value="" />

        <add key="mail_subject" value="OSMITA – FACTURA CUOTA" />
        <add key="mail_html_body"
             value="&amp;lt;p&amp;gt;Cumplimos en dirigirnos a Ud. con el objeto de enviarle en adjunto la facturación correspondiente al mes en curso.&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;Ante cualquier duda al respecto, solicitamos contactarse por mail a esta casilla a fin de brindarle las aclaraciones del caso.&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;Saludamos a Ud. muy atte.&amp;lt;/p&amp;gt;&amp;lt;hr /&amp;gt;&amp;lt;p&amp;gt;Departamento Facturación y Cobranzas - OSMITA&amp;lt;br /&amp;gt;Paraguay 610 Piso 6º&amp;lt;br /&amp;gt;Tel. (5411) 4313-3111 (Líneas Rotativas)&amp;lt;br /&amp;gt;&amp;lt;a href=&quot;mailto:cobranzas@osmita.com.ar&quot;&amp;gt;cobranzas@osmita.com.ar&amp;lt;/a&amp;gt; - &amp;lt;a href=&quot;www.osmita.com.ar&quot;&amp;gt;www.osmita.com.ar&amp;lt;/a&amp;gt;&amp;lt;/p&amp;gt;" />

        <!--
        Opciones posibles
        0 - None
        1 - OnSuccess
        2 - OnFailure
        4 - Delay
        134217728 - Never
        -->
        <add key="mail_delivery_options" value="2,4" />

        <!--
        Opciones posibles
        None
        Barcode
        QR
        -->
        <add key="invoice_code_type" value="None" />
    </appSettings>

    <connectionStrings>
        <clear />
        <add name="FE2PDF" connectionString="Data Source=.\FE2PDF.db;Version=3;New=False;Compress=True;" />
    </connectionStrings>

    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="v13.0" />
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SQLite.EF6"
                      type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
            <provider invariantName="System.Data.SqlClient"
                      type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>

    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SQLite.EF6" />
            <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6"
                 description=".NET Framework Data Provider for SQLite (Entity Framework 6)"
                 type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
            <remove invariant="System.Data.SQLite" />
            <add name="SQLite Data Provider" invariant="System.Data.SQLite"
                 description=".NET Framework Data Provider for SQLite"
                 type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
        </DbProviderFactories>
    </system.data>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="zxing" publicKeyToken="4e88037ac681fe60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-0.16.4.0" newVersion="0.16.4.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <FE2PDF.Properties.Settings>
            <setting name="FE2PDF_Afip_Wsaa_LoginCMSService" serializeAs="String">
                <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms</value>
            </setting>
            <setting name="FE2PDF_Afip_Wsfe_Service" serializeAs="String">
                <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
            </setting>
        </FE2PDF.Properties.Settings>
    </applicationSettings>
</configuration>