<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    
    <appSettings>
        <clear />
        <add key="SourcePath"    value="C:\Projects\FE2PDF\Paths\" />
        <add key="ProcessedPath" value="C:\Projects\FE2PDF\Paths\Processed\" />
        <add key="ErrorPath"     value="C:\Projects\FE2PDF\Paths\Error\" />
        
        <add key="mail_smtp_server"      value="mail.obrasocialmita.com.ar" />
        <add key="mail_smtp_server_user" value="web@obrasocialmita.com.ar" />
        <add key="mail_smtp_server_pass" value="OYZEhlsY7woXz5x" />
        <add key="mail_smtp_server_port" value="25" />
        <add key="mail_smtp_server_ssl"  value="false" />
        <add key="mail_from_address"     value="facturacion@obrasocialmita.com.ar" />
        
        <add key="mail_subject"   value="OSMITA – FACTURA CUOTA" />
        <add key="mail_html_body" value="&amp;lt;p&amp;gt;Cumplimos en dirigirnos a Ud. con el objeto de enviarle en adjunto la facturación correspondiente al mes en curso.&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;Ante cualquier duda al respecto, solicitamos contactarse por mail a esta casilla a fin de brindarle las aclaraciones del caso.&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;Saludamos a Ud. muy atte.&amp;lt;/p&amp;gt;&amp;lt;hr /&amp;gt;&amp;lt;p&amp;gt;Departamento Facturación y Cobranzas - OSMITA&amp;lt;br /&amp;gt;Paraguay 610 Piso 6º&amp;lt;br /&amp;gt;Tel. (5411) 4313-3111 (Líneas Rotativas)&amp;lt;br /&amp;gt;&amp;lt;a href=&quot;mailto:cobranzas@osmita.com.ar&quot;&amp;gt;cobranzas@osmita.com.ar&amp;lt;/a&amp;gt; - &amp;lt;a href=&quot;www.osmita.com.ar&quot;&amp;gt;www.osmita.com.ar&amp;lt;/a&amp;gt;&amp;lt;/p&amp;gt;" />
    </appSettings>
    
    <connectionStrings>
        <clear />
        <add name="FE2PDF" connectionString="Data Source=.\FE2PDF.db;Version=3;New=False;Compress=True;" />
    </connectionStrings>
    
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="v13.0" />
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
    
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SQLite.EF6" />
            <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
            <remove invariant="System.Data.SQLite" />
            <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
        </DbProviderFactories>
    </system.data>
</configuration>